<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <title>Sistemas de Administración de Doctores</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<body>

{{Doctores}}
<div class="panel panel-primary" align="center">

    <h1 style="color:blue;font-family:Broadway;">Sistemas de Administración de Doctores</h1>

    <p style="color:purple;font-family:Times New Roman;">Cantidad de Doctores Registrados: {{cantidad}}</p>
</div>
<div align="center">
    <a class="btn btn-primary"  href="Nuevo_Doctor/"><i class="fa-solid fa-user-plus"></i></a>
    <a class="btn btn-primary"  href="Registro_Doctor/"><i class="fa-regular fa-file-excel"></i></a>
</div>

<div class="table-responsive" align="center">
<table class="table table-success table-striped table-hover table-bordered table=sm align-middle caption=top">

         <p style="color:red;font-family:Goudy Stout;">Lista de Doctores </p>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Sexo</th>
        <th>Email</th>
        <th>Especialidad</th>
        <th>Activo</th>
        <th>Turno</th>

    </tr>
    <tbody class="table-group-divider">
        {% for Doctor in doctores %}
           <tr>
               <td >{{Doctor.id}}</td>
               <td >{{Doctor.nombre | upper}}</td>
               <td >{{Doctor.apellido | upper}}</td>
               <td >{% if Doctor.sexo == 'F' %} Femenino {% elif Doctor.sexo == 'M' %} Masculino {% endif %}</td>
               <td >{{Doctor.email}}</td>
               <td >{{Doctor.especialidad | upper}}</td>
               <td >{{Doctor.activo | upper}}</td>
               <td >{{Doctor.turno.turno }}</td>
               <td ><a class="btn bg-info" href="Eliminar_Doctor/{{Doctor.id}}">Eliminar_Doctor</a></td>
               <td ><a class="btn bg-warning" href="Editar_Doctor/{{Doctor.id}}">Editar_Doctor</a></td>
               <td ><a class="btn bg-success" href="Ver_Doctor/{{Doctor.id}}">Ver_Doctor</a></td>
           </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>